@media (max-width: 600px) {


	.container {
    min-height: 100vh;
    flex-direction: column;
    border-radius: 0;
  }
	
  .container, .content {
    width: 100%;
    min-height: auto;
    padding: 10px;
  }

	.calendar::before,
  .calendar::after {
    top: 100%;
    left: 50%;
    width: 97%;
    height: 12px;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%);
  }
  .calendar::before {
    width: 94%;
    top: calc(100% + 12px);
  }

  .left, .right {
    width: 100%;
		height: 100%;
    padding: 20px 0;
  }

	.events {
    padding-bottom: 340px;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 100%; 
    overflow-x: auto; 
  }

  .event .title {
    display: flex;
    align-items: center;
    min-width: 0; 
  }

	.events .event {
    padding-left: 0px;
    padding: 0 5px;
  }

  .event .event-title {
    white-space: nowrap; 
    overflow: visible; 
    text-overflow: ellipsis; 
  }

  .event .event-time {
    margin-left: 10px;
    white-space: normal; 
  }

  nav .menu a {
    padding: 10px;
    font-size: 0.8rem;
  }

	.add-event-wrapper {
		bottom: 100px;
  }

	.add-event-header {
    padding: 10px; 
  }

  .add-event-body {
    gap: 5px;
    padding: 10px; 
  }

  .add-event-input {
    flex-direction: column;
    gap: 5px; 
  }

  .add-event-input input {
    width: 100%;
  }

  .add-event-footer {
    flex-direction: column;
    align-items: center;
    gap: 10px; 
  }

	#drop-zone {
    width: 100%;
    box-sizing: border-box; 
		text-align: center; 
  }

	#drop-zone + label {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 0.8rem;
  }

  .add-event-btn {
    width: 100%;
    font-size: 0.8rem; 
    padding: 10px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
  .flex-nav-container {
    text-align: center;
    padding: 0;
  }

  .vertical-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  nav .menu {
    display: block;
    width: 100%;
    margin: 5px 0;
  }

  nav .menu a {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
  }

  .right .icons {
    display: flex;
    justify-content: center;
    align-items: center; /* Центрирование по вертикали */
    width: 100%;
    height: 100%;
  }

  #calendar-icon-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Центрирование по вертикали */
    width: 100%;
  }

}

@media screen and (max-width: 500px) {
  .calendar .month {
    height: 75px;
  }
  .calendar .weekdays {
    height: 50px;
  }
  .calendar .days .day {
    height: 40px;
    font-size: 0.8rem;
  }
  .calendar .days .day.active,
  .calendar .days .day.today {
    font-size: 1rem;
  }
  .right .today-date {
    padding: 20px;
  }
	
}

