:root{
	--primary-clr: #b38add;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto Slab", sans-serif;
}
body {
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: #e2e1dc;
}

header {
  text-align: center;
  padding: 10px;
  width: 100%;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.title {
  font-size: 2em;
  margin: 0;
  width: 100%;
  text-align: center;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  font-size: 24px; 
}

h2 {
  font-size: 40px; 
}
h3 {
  font-size: 25px; 
}

#calendar-icon {
  margin-top: 10px; 
}

#clip-icon {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px; 
}

#footer {
  text-align: right;
  margin: 10px;
  border-bottom: 1px #1f1717 solid;
}


#footer p {
  text-align: right;
  text-transform: uppercase;
  font-size: 80%;
  color: grey;

}

.container{
	position: relative;
	width: 1200px;
	min-height: 600px;
	margin: 0 auto;
	color: #fff;
	display: flex;
	border-radius: 10px;
	background-color: #373c4f;
}

.content {
  position: relative;
	width: 1200px;
	min-height: 600px;
  margin: 20px 0 0 0;
  background: #373c4f;
  padding: 20px;
  border-radius: 3px;
}

.left{
	width: 60%;
	padding: 20px;
}
.calendar{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	color: #878895;
	border-radius: 5px;
	background-color: #fff;
}
.calendar::before, .calendar::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 100%;
	width: 12px;
	height: 97%;
	border-radius: 0 5px 5px 0;
	background-color: #d3d5d6d7;
	transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.calendar::before{
	height: 94%;
	left: calc(100% + 12px);
	background-color: rgb(153, 153, 153);
}

.calendar .month {
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: capitalize;
}

.calendar .month .prev, 
.calendar .month .next {
	cursor: pointer; 
}

.calendar .month .prev:hover, 
.calendar .month .next:hover {
	color: var(--primary-clr);
}

.calendar .weekdays {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	font-size: 1rem;
	font-weight: 500;
	text-transform: capitalize;
}
.calendar .weekdays div{
	width: 14.28%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calendar .days {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 20px; 
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 20px;
}

.calendar .days .day {
	width: 14.28%;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: var(--primary-clr);
	border: 1px solid #f5f5f5;
}

.calendar .day:not(.prev-date, .next-date):hover {
	color:#fff;
	background-color: var(--primary-clr);
}

.calendar .days .prev-date, 
.calendar .days .next-date {
	color: #b3b3b3;
}

.calendar .days .active {
	position: relative;
	font-size: 2rem;
	color: #fff;
	background-color: var(--primary-clr);
}

.calendar .days .active::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 10px 2px var(--primary-clr);
}

.calendar .days .today {
	font-size: 2rem;
}

.calendar .days .event {
	position: relative;
} 

.calendar .days .event::after {
	content: '';
	position: absolute;
	bottom: 10%;
	left: 50%; 
	width: 75%;
	height: 6px;
	border-radius: 30px;
	transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
	background-color: var(--primary-clr);
}

.calendar .event:hover::after {
	background-color: #fff;
}

.calendar .active.event::after {
		background-color: #fff;
		bottom: 20%;
}

.calendar .active.event {
	padding-bottom: 10px;
}

.calendar .goto-today {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	padding: 0 20px; 
	margin-bottom: 20px;
	color: var(--primary-clr);
}

.calendar .goto-today .goto {
	display: flex;
	align-items: center;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid var(--primary-clr);
}

.calendar .goto-today .goto input {
	width: 100%;
	height: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 0 20px;
	color: var(--primary-clr);
	border-radius: 5px;
}

.calendar .goto-today button {
	padding: 5px 10px;
	border: 1px solid var(--primary-clr);
	border-radius: 5px;
	background-color: transparent;
	cursor: pointer;
	color: var(--primary-clr);
}

.calendar .goto-today button:hover {
	color: #fff;
	background-color: var(--primary-clr);
}

.calendar .goto-today .goto button {
	border: none;
	border-left: 1px solid var(--primary-clr);
	border-radius: 0;
}

.flex-nav-container {
  background-color: #e0e0e0;
  text-align: center;
}

.flex-nav-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.flex-nav-container a {
  text-decoration: none;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.flex-nav-container li {
  margin: 20px 0px;
}


.flex-nav-container a {
  text-decoration: none; 
  color: white; 
}
.container .right {
	position: relative;
	width: 40%;
	min-height: 100%;
	padding: 20px 0;
}

.right .icons {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.right .icons #calendar-icon-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.right .today-date {
	width: 100%;
	height: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px; 
	padding-left: 70px;
  margin-top: 10px;
	margin-bottom: 20px;
	text-transform: capitalize;
}

.today-date .event-day {
	font-size: 2rem;
	font-weight: 500;
}

.today-date .event-date {
	font-size: 1rem;
	font-weight: 400;
	color: #878895;
}
#calendar-icon-container {
  text-align: center;
}

.events {
	width: 100%;
  height: 100%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}

.events .event {
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  padding-left: 50px;
  color: #fff;
  background: linear-gradient(90deg, #3f4458, transparent);
  cursor: pointer;
}

.events .event:nth-child(even){
	background: transparent;
}

.events .event:hover {
  background: linear-gradient(90deg, var(--primary-clr), transparent);
}

.events .event .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.events .event .title .event-title {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
}

.events .event .title i {
	color: var(--primary-clr);
	font-size: 0.5rem;
}

.events .event:hover .title i,
.events .event:hover .event-time {
	color: #fff;
}

.events .event  .event-time {
	font-size: 0.8rem;
	font-weight: 400;
	color: #878887;
	margin-left: 15px;
	pointer-events: none;
}

.events .event::after {
	position: absolute;
	top: 50%;
  right: 0;
	font-size: 3rem;
  display: flex;
	align-items: center;
  justify-content: center;
	opacity: 0.3;
	color: var(--primary-clr);
  transform: translateY(-50%);
}

.events .event:hover::after {
  display: flex;
}

/* Smooth scaling of the event on hovering */
.events .event {
  transition: transform 0.3s ease;
}
.events .event:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.events .no-event {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #878895;
}

.add-event-wrapper {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 90%;
	max-height: 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); 
  -moz-transform: translateX(-50%); 
  -ms-transform: translateX(-50%); 
  transition: max-height 0.5s;
  -webkit-transition: max-height 0.5s; 
  -moz-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
}


.add-event-wrapper.active {
  max-height: 300px;
}

.add-event-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #373c4f;
  border-bottom: 1px solid #f5f5f5;
}

.add-event-header .close {
  font-size: 1.5rem;
  cursor: pointer;
}

.add-event-header .close:hover {
  color: var(--primary-clr);
}

.add-event-header .title {
  font-size: 1.2rem;
  font-weight: 500;
}

.add-event-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}

.add-event-body .add-event-input {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.add-event-body .add-event-input input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  color: #373c4f;
}

.add-event-body .add-event-input input::placeholder {
  color: #a5a5a5;
}

.add-event-body .add-event-input input:focus {
  border-color: var(--primary-clr);
}

.add-event-body .add-event-input input:focus::placeholder {
  color: var(--primary-clr);
}

.add-event-footer {
  display: block;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 20px;
  display: flex;
}

#drop-zone {
  border: 2px dashed #aaa;
  text-align: center;
  color: #373c4f;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: background-color 0.3s ease;
}

#drop-zone.dragover {
  background-color: #f0f0f0;
}



.add-event-btn {
	height: 40px;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--primary-clr);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
}

.add-event-footer .add-event-btn:hover {
  background-color: transparent;
  color: var(--primary-clr);
}

.add-event {
  position: absolute; 
  bottom: 30px;	
  right: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #878895;
  border: 2px solid #878895;
  opacity: 0.5;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.add-event:hover {
  opacity: 1;
}

.add-event i {
  pointer-events: none;
}


.credits {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  color: #fff;
  background-color: #b38add;
}
.credits a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.credits a:hover {
  text-decoration: underline;
}

/*location*/
.status {
	font-size: 12px;
}

nav {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

nav .menu {
  display: inline-block;  
}

nav .menu a {
  padding: 20px;
	background: #8c5abe;
  margin-right: 2px;
}

nav .menu a:hover {
  background-color: #b38add;
  box-shadow: 0 1px 1px #666;
  cursor: pointer;
}

.flex-container {
  flex: 1 1 auto;
  justify-content: center;
}

.content,
.button {
  box-shadow: 0 1px 1px #999;
}



/*použití pokročilých pseudotříd a kombinátorů*/

/*styling of the first and last elements of the list using :first-child and :last-child pseudoclasses*/
.weekdays div:first-child {
  color: var(--primary-clr);
  font-weight: bold;
}

.weekdays div:last-child {
  color: var(--primary-clr);
  font-weight: bold;
}

/*styling elements that are descendants of a particular class using the > combinator:*/
.container > .left > .calendar {
  border: 5px solid var(--primary-clr);
  padding: 10px;
}

/*using the :not pseudo-class to exclude elements with certain classes*/
.calendar .days .day:not(.prev-date):not(.next-date) {
  border: 1px solid #b38add;
}

/*selecting every second event with the :nth-child pseudoclass and applying the style to them only*/
.events .event:nth-child(2n) {
  background-color: #b48add37;
}

